body {
    background: black;
    font-family: 'Droid Sans', 'Arial', sans-serif;
    color: white;
}

#storyContainer, #gameContainer {
    width:47%;
}

#storyContainer {
    float:left;
}

#gameContainer {
    float:right;
    width:560px !important;
    height:550px;
}

h1#title {
    text-align: center;
    margin-top: 114px;
    font-size: 70px;
}

h1, h2, p.titleLink {
    text-align:center;
}

#begin {
    color: #43d9ff;
    font-size: 40px;
    padding: 59px 0px;
}

#begin:hover {
    color: yellow;
}

p.titleLink a {
    text-transform: capitalize;
    color: #43d9ff;
    text-decoration: none;
    font-size: 23px;
}

p.titleLink a:hover {
    color:yellow;
}

/*
Stats CSS
*/

#statsContainer {
    position:absolute;
    bottom:0px;
    width:100%;
    height:200px;
}

#charPic {
    position:absolute;
    background-color:white;
    box-sizing: border-box; /*makes sure border is on the inside */
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 5px solid #959595;
    height: 200px;
    width: 200px;
    border-top-right-radius: 28px;
    border-top-left-radius: 28px;
    margin-left: 42%;
}

#sharedStats {
    min-height: 100px;
    background-color: #363636;
    width: 50%;
    margin: auto;
    margin-top: 100px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#storyStats {

}

#gameStats {

}

/*
Story CSS
*/

#storyArea, #choiceArea {
	width: 100%;
	margin-top: 10px;
    border-radius: 20px;
    font-size: 120%;
}
#storyArea {
    background-color: #262626;	
    min-height: 200px;
    padding: 25px;
}
#choiceArea {
    min-height: 50px;
}

.choice {
    background-color: #585858;
    padding: 15px 25px;
    margin: 10px 0px;
    color: #43d9ff;
    border-radius: 20px;
    width: 100%;
}
.unavailableChoice {
    color: gray;
}
.unavailableChoice:hover {
    color: gray !important;
}

.choice:hover {
	color: yellow;
}

#diagnostics {
    width: 370px;
    /*height: 200px;*/
    background-color: #FFF1A5;
    position: fixed;
    top: 10px;
    right: 10px;
    border-radius: 10px;
    padding: 0.5em 1em;
}
.dHeader {
    font-variant: small-caps;
    text-decoration: underline;
    padding-top: 0.75em;
    font-size: 120%;
}
.firstPathStep {
    font-weight: bold;
    padding-left: 1em;
}
.pathSteps {
    margin: 0.5em;
    border: thin dotted gray;
    padding: 0.5em;
}
.pathStep {
}
.pathExpl {
    padding-left: 1em;
    font-size: 80%;
}
.wlWant {
    border: thin dotted gray;
    background-color: #F0FBE0;
    border-radius: 5px;
    padding: 0.25em 0.5em;
    margin-top: 0.75em;
    box-shadow: 1px 1px 4px #aaa;
    margin-bottom: 0.75em;
}
.blackboardEntry {
    padding: 0.25em 0.5em;
}
.bbKey {
    font-weight: bold;
}
.bbValue {
    background-color: #DDDDFF;
    border-radius: 6px;
    padding: 0.2em;
}
.matchedWant {
    border: thick solid #00981D;
    background-color: #9CF992;
}

.varClickChanger {
    background-color: #81D0FF;
    padding: 7px 13px;
    border-radius: 13px;
    width: 112px;
    margin-top: 20px;
    text-shadow: 1px 1px 1px #206086;
    color:white;
}