html, body {
    height:100%;
    overflow:hidden;
    font-family: 'Open Sans', sans-serif;
    margin:0px;
    padding:0px;
}

body { background-color:black; }

#mainText {
    background-color: #f1cf7f;
    box-shadow: 3px 3px 9px #00000073;
    width: 51%;
    padding: 0px 0px 0px 15px;
    min-height: 38%;
    max-height: 75%;
    position: relative;
    left: 110px;
    top: 15px;
    border-radius: 13px;
    display:none;
    z-index:3;
}

#mainTextContent {
    overflow-y:auto;
    max-height:275px;
    color:#584a26;
    width:510px;
}

#mainTextContent h3 {
    font-size:22px;
}

#mainTextContent h3.low { color:#3a82cc; }
#mainTextContent h3.medium { color:#cc8000; }
#mainTextContent h3.high { color:#b90000; } 

#playButton {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    background-color: #886530;
    background-image: url('/assets/UI/play.png');
    background-position: center;
    background-size: 57px;
    background-repeat: no-repeat;
    box-shadow: 3px 3px 9px #00000073;
    position: absolute;
    right: -16px;
    bottom: -16px;
    cursor: pointer;
}

#playButton:hover {
    background-image: url('/assets/UI/play_hover.png');
}

#graphContainer {
    width:1050px;
    margin:auto;
    height:768px;
    min-height:500px;
    position:relative;
    top:10px;
    background: linear-gradient(#152638, #102133);
    border-radius: 15px;
}

#graphValuesContainer {
    width:100%;
    height:100%;
    position:absolute;
    z-index:1;
}

#graphLinesContainer {
    width:100%;
    height:100%;
    position:absolute;
    z-index:2;
}

#graphWiper {
    position:absolute;
    right:0px;
    height:100%;
    width:100%;
    background:linear-gradient(#152638, #102133);
    z-index:2;
    
}

#graphClickBlocker {
    display:none;
    width:100%;
    height:100%;
    position:absolute;
    right:0px;
    z-index:2;
}

.tempArea { display:none; }


#sandbox { display:none; }
svg circle { 
    display:none; 
    cursor: pointer;
}

#graphLinesContainer svg text { fill:#7d7d7d; }
#graphLinesContainer svg line { fill:#7d7d7d; stroke: #7d7d7d; }

#climateFacts {
    box-shadow: 3px 3px 9px #00000073;
    position: absolute;
    width: 42%;
    height: 28%;
    left: 183px;
    bottom: 194px;
    border-radius: 13px;
    display:none;
    z-index:3;
}

#climateFacts .title {
    margin-left: 88px;
    margin-bottom: 15px;
    width:330px;
    font-size: 28px;
    font-weight: bold;
    text-shadow:2px 2px 6px #00000094;
    color: #f1cf7f;
    margin-top: 10px;
    display:none;
}

#climateFacts .text {
    width: 75%;
    float: right;
    margin-right: 20px;
    color:#ffeec2;
    text-shadow: 1px 1px 1px #0000006e;
    display:none;
}

#artAccent {
    background-image:url("https://i.pinimg.com/564x/29/f5/43/29f543256aca395cb06b5e90032b03ce.jpg");
    background-size:contain;
    box-shadow: 4px 0px 2px #0000007a;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
    left: -75px;
    top: 30px;
    display:none;
    z-index:3;
}

.highFacts {
    background: linear-gradient(#e5200063,#e52000ba);
}

.mediumFacts {
    background: linear-gradient(#ffb1007a,#ffb100d9);
}

.lowFacts {
    background: linear-gradient(#3d7cbda8,#3d7cbddb);
}

#graphBlackout {
    width: 100%;
    height:100%;
    position:absolute;
    top:0px;
    left:0px;
    background-color:black;
    z-index:2;
}

#centerText {
    width:80%;
    margin:auto;
    height:50%;
    position:absolute;
    top:25%;
    left:10%;
    display:none;
    color: white;
    z-index:2;
    font-size: 24px;
    text-align: center;
    text-shadow: 2px 2px 2px #000000c7;
}

#sceneIntro {
    min-width: 1000px;
}

#outroText {
    width: 75%;
    margin: 25% 10% 0 10%;
}

#introLink {
    margin-top:40px;
    width:50%;
    min-width:500px;
    float:left;
}


/* Timeline SVG styles */

.tempPath { 
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
}

#futureGradient {
    opacity: 0;
}

.point {
    opacity: 0;
}

.draw-in {
    animation: draw-in 2s linear forwards;
}

@keyframes draw-in {
    to {
        stroke-dashoffset: 2000;
    }
}