.instructionDetail {
  font-style : italic;
  color:gray;
  font-size:16px;
}

#city-stats {
  width:174px;
  padding-top: 15px;
}
#city-stats p {
  background-color: lightgoldenrodyellow;
  color:orange;
  border:2px solid gold;
  padding:2px;
  font-weight: bold;
}
#city-stats ul {
  list-style-type:none;
  border:1px solid #fff;
  border:2px solid gray;
  background:#ffe;
  padding:10px;
  line-height:38px;
  margin-top: -10px;
}
#city-stats li.moneyItem {
  color: red;
}
#city-stats li.fameItem {
  color: purple;
}
#city-stats li.carbonItem {
  color: black;
}

.cityStar {
  cursor: pointer;
}

#status-header {
  font-weight: bold;
  color: #FFD800;
  font-size: 85%;
}
#status {
  outline: thin solid gray;
  padding: 2px 7px;
  margin-top: 25px;
  width: 380px;
}
#status div.statusItem {
  display: inline-block;
  margin-right: 10px;
  width: 110px;
  background-color: #1C1E2F;
}
#status .label {
  font-size: 55%;
  display: block;
  text-align: left;
  color: #CACACA;
}