.instructionDetail {
  font-style : italic;
  color:gray;
  font-size:16px;
}

#city-stats {
  width:400px;
  padding-top: 15px;
  font-size: 120%;
}
#city-stats p {
  background-color: lightgoldenrodyellow;
  color:orange;
  border:2px solid gold;
  padding:2px;
  font-weight: bold;
}
#city-stats ul {
  list-style-type:none;
  border:1px solid #fff;
  border:2px solid gray;
  background:#ffe;
  padding:10px;
  line-height:38px;
  margin-top: -10px;
}
#city-stats li {
  display: inline;
  margin-right: 20px;
}
#city-stats li.moneyItem {
  color: red;
}
#city-stats li.fameItem {
  color: purple;
}
#city-stats li.carbonItem {
  color: black;
}

.cityStar {
  z-index: 2;
  cursor: pointer;
}

#status-header {
  font-weight: bold;
  color: #FFD800;
  font-size: 85%;
}
#status {
  /*outline: thin solid gray;*/
  padding: 2px 7px;
  margin-top: 25px;
  width: 380px;
}
#status div.statusItem {
  display: inline-block;
  margin-right: 10px;
  width: 110px;
  background-color: #1C1E2F;
}
#status .label {
  font-size: 55%;
  display: block;
  text-align: left;
  color: #CACACA;
}
.cancelLeg {
  background-color: black;
  color: red;
  width: 20px;
  height: 25px;
  padding: 0px;
  padding-top: -5px;
  font-size: 80%;
  vertical-align: text-top;
  margin-left: 10px;
}

#itinerary {
    width: 328px;
    margin-left: 15px;
    margin-top: 30px;
    font-size: 85%;  
}
#itineraryArea {
    background-color: #73778C;
    width: 100%;
    padding: 8px 13px;
}
#beginTrip {
  color: black;
}
#beginButton {
  text-align: center;
}

.lineLabel {
 color: #313131;
    font-size: 75%;
    font-weight: bold;
    text-transform: uppercase;
}
#itineraryHeader {
    text-decoration: underline;
  text-align: center;
      color: black;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 90%;
      letter-spacing: 0.5em;
}
#cantBeginTrip {
 text-align: center;
    color: #FFD2D2;
    font-style: italic;
}
.conference {
  font-size: 80%;
}

@-webkit-keyframes expiring {
  0%   { opacity: 1; }
  50%   { opacity: 0; }
  100%   { opacity: 1; }
}
.expiring {
  animation: expiring 1s infinite;
  -webkit-animation: expiring 1s infinite;
}