html, body{
	background: #000;
	font-family: Avenir, Futura, sans-serif;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
	overflow-y: hidden;
	color: #fff;
}

#primary-navbar{
	height: 40px;
	background:#111;
	opacity:0.9;
	padding:5px 20px;
	margin-bottom: 30px;
	border-top: 1px solid #5c5c54;
	border-bottom: 1px solid #282820;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.4);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.4);
	box-shadow: 0 1px 2px rgba(0,0,0,.4);

	color:#fff;
	font-size: 20px;
	text-align: center;
}
#canvas{
	background-repeat:no-repeat;
	background: #222;
	width:400px;
	height:309px;
}
#score{
	float:right;
	-webkit-transition:color 5s;
    transition:color 5s;
}
#scene-description{
	font-size: 19px;
}
.choice-point{
	color:lightblue;
	font-size: 19px;
}
.choice-point:hover{
	cursor:pointer;
}

.interesting:hover{
	cursor: url('../img/crosshair.png'), auto;
}
.no-select{
	-moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.round{
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
}
#target-box{
	background:#fff;

	width:100px;
	height:100px;
	position:absolute;
	left:20px;
	top:30px;
}
/*#target-box:hover{
	cursor:crosshair;
}*/
