h1 {
	font-family: Arial;
}

#storyArea, #choiceArea {
	width: 45%;
	margin-top: 10px;
    border-radius: 20px;
    padding: 1px 25px;
    font-size: 120%;
    font-family: Garamond;
}
#storyArea {
    background-color: #D7FFC7;	
    min-height: 200px;
}
#choiceArea {
    background-color: #C7EAFF;
    min-height: 50px;
}

span.chunk {

}

#choiceArea {

}

.choice {
	background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0px;
}
.choice::before {
	content: "> ";
}
.choice:hover {
	background-color: #D7FFC7;
}